<#import "parts/common.ftl" as common>
<#include "parts/security.ftl">

<@common.page>
    <style>
        body {
            background-image: url(https://clipart-db.ru/file_content/rastr/background_065.jpg);
            background-color: #000000;
        }
    </style>
    <h6 class="display-3"> Hello ${name} Please login </h6>

</@common.page>



